* {
  border: none;
  border-radius: 0;
  font-family: Iosevka Nerd Font;
  font-size: 15px;
  min-height: 30px;
}

window#waybar {
  background: rgba(0,0,0,0.5);
  color: white;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
}

#workspaces button {
  padding: 0 5px;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.hover {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#pulseaudio,
#battery,
#network,
#cpu,
#temperature,
#backlight,
#bluetooth,
#clock,
#mpris {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;

  padding-left: 16px;
  padding-right: 16px;

  border-radius: 20px;

  transition: none;
	background: #282a36;
	color: #f8f8f2;
}

#mpris {
	margin-left: 10px;
}

#battery.critical:not(.charging),
#temperature.critical,
#network.disconnected {
  background: #c84361;
}

#battery.charging {
  background: #79AC78;
}

#bluetooth.connected {
  background: #8294c4;
}

#mpris.spotifyd.playing {
  background: #1db954;
  color: #4d4d4d;
}
#mpris.firefox.playing {
  background: #FE3E41;
}

#battery.warning:not(.charging) {
  background: #f1c27b;
  color: #4d4d4d;
}
